{% if site.author.mailing != null and site.author.phone != null and site.author.email != null %}
  {% assign mrows = 6 %}
{% elsif site.author.mailing != null %}
  {% assign mrows = 4 %}
{% else %}
  {% assign mrows = 2 %}
{% endif %}

<div class="row">
	<div class="8u 12u$(small)">
		<form method="post" action="#">
			<div class="row uniform 50%">
				<div class="6u 12u$(xsmall)">
					<input type="text" name="name" id="name" placeholder="Name" />
				</div>
				<div class="6u$ 12u$(xsmall)">
					<input type="email" name="email" id="email" placeholder="Email" />
				</div>
				<div class="12u$">
					<textarea name="message" id="message" placeholder="Message" rows="{{ mrows }}"></textarea>
				</div>
			</div>
		</form>
		<ul class="actions">
			<li><input type="submit" value="Send Message" /></li>
		</ul>
	</div>
	<div class="4u$ 12u$(small)">
		<ul class="labeled-icons">
			{% if site.author.mailing != null %}
			<li>
				<h3 class="icon fa-home"><span class="label">Address</span></h3>
				{{ site.author.name }}<br />
				{{ site.author.mailing }}
			</li>
			{% endif %}
			{% if site.author.phone != null %}
			<li>
				<h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
				{{ site.author.phone }}
			</li>
			{% endif %}
			{% if site.author.email != null %}
			<li>
				<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
				<a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
			</li>
			{% endif %}
		</ul>
	</div>
</div>
